<ion-header [translucent]="true">
  <nav id="nav">
    <h1 id="title">Contact</h1>
    <input
      type="button"
      class="btn"
      id="addbtn"
      value="+"
      (click)="ajouterContact()"
    />
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="cart" *ngFor="let contact of contacts">
      <img
        src="../../assets/images/utilisateur (1).png"
        class="ContactImage"
        alt=""
      />
      <div class="UserInfo">
        <div class="Nom">
          <h6>Nom</h6>
          <p id="Nom">{{ contact.nom }}</p>
        </div>
        <div class="Classe">
          <h6>Classe</h6>
          <p id="Classe">{{ contact.classe }}</p>
        </div>
        <div class="Telephone">
          <h6>Telephone</h6>
          <p id="Telephone">{{ contact.numeroTelephone }}</p>
        </div>
      </div>
      <div id="btncont">
        <button
          type="button"
          class="btn"
          id="closebtn"
          (click)="supprimer(contact.id)"
        >
          <img src="../../assets/images/fermer.png" />
        </button>
        <button
          type="button"
          class="btn"
          id="modifbtn"
          (click)="modifier(contact.id)"
        >
          <img src="../../assets/images/stylo.png" />
        </button>
      </div>
    </div>
  </div>
</ion-content>
