<ion-header>
  <ion-toolbar>
    <ion-title>
      Liste des contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts">
      <ion-label>
        <h2>{{ contact.name }}</h2>
        <p>{{ contact.phoneNumber }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editContact(contact)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="removeContact(contact)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="stacked">Nom</ion-label>
    <ion-input type="text" [(ngModel)]="newContactName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Numéro de téléphone</ion-label>
    <ion-input type="tel" [(ngModel)]="newContactPhoneNumber"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="addContact()">Ajouter</ion-button>
</ion-content>
